



/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width: 80%;
    margin: 0 auto;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0.5em 3em;
    display: block;
    color: #CCC;
}

.menu > ul > li:hover span{
    font-weight: bold;
    color: #fff;
}

.menu > ul > li > ul > li:hover a{
    font-weight: bold;
    color: #fff;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #777684; /*BG from submenu */
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}


.menu > ul > li > ul > li a {
    color: #ccc;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}


#results{
    font: 12px Arial, Helvetica, sans-serif;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#results .loading-indication{
    background: #FFFFFF;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.pagination {
    padding: 0px;
    margin: 0px;
    margin-top: 3rem;
    height: 30px;
    display: block;
    text-align: center;
}
.pagination li {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin-right: 1px;
    width: 30px;
    text-align: center;
    background: #59BFE7;
    line-height: 25px;
}
.pagination .disabled {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin-right: 1px;
    width: 30px;
    text-align: center;
    line-height: 25px;
    background-color: #666666;
    cursor:inherit;
}
.pagination li a{
    color:#FFFFFF;
    text-decoration:none;
}
.page_result{
    padding: 0px;
}
.page_result li{
    background: #E4E4E4;
    margin-bottom: 5px;
    padding: 10px;
    list-style: none;
}
.page_result .page_name {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}


.caja-redes {
    margin: 0 auto;
    padding: 15px;
    /*padding-top: 40px;*/
    position: relative;
    width: 240px;
}
.caja-redes a {
    text-align: center;
    font-size: 20px;
}
.icono {
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 8px;
    position: relative;
}
.icono span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.icono:hover span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: -30px;
}
.twitter span {
    background-color: #4099ff;
}
.facebook span {
    background-color: #3B5998;
}
.google span {
    background-color: #db5a3c;
}
/* Iconos */
.icono img{
    background: none;
    color: white;
    left: 20px;
    top: 20px;
    width: 20px;
    position: absolute;
    z-index: 2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.icono .icont .icono .iconfb .icono .icongp {
    color: #fff;
}

.icono .icongp {
    left: 17px;
    top: 16px;
    width: 30px;
}

icono:hover .icont .icono:hover .iconfb .icono:hover .icongp {
    color: #fff;
}